.form{
    width: 700px;
  background:
radial-gradient(circle farthest-side at 0% 50%,#403f3e 23.5%,rgba(240,166,17,0) 0)21px 30px,
radial-gradient(circle farthest-side at 0% 50%,#242320 24%,rgba(240,166,17,0) 0)19px 30px,
linear-gradient(#403f3e 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#403f3e 0)0 0,
linear-gradient(150deg,#403f3e 24%,#242320 0,#242320 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#242320 0,#242320 76%,#403f3e 0)0 0,
linear-gradient(30deg,#403f3e 24%,#242320 0,#242320 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#242320 0,#242320 76%,#403f3e 0)0 0,
linear-gradient(90deg,#242320 2%,#403f3e 0,#403f3e 98%,#242320 0%)0 0 #403f3e;
background-size: 40px 60px;  
}

@media only screen and (min-width: 680px) {



  .text3 {
    font-size: 30px;
  }

  

}